<div class="container">
<div class="hero-image">
  <div class="hero-text">
    <h1>Welcome to Recipe App</h1>
    <p>This is an app for recipes.</p>
</div>
<%= image_tag ("images/recipes.jpeg")%>
</div>
<div class="row">
<div class="col-md-6">
<h1> About Us </h1>

<h4> Recipe App </h4>

<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rhoncus sagittis lectus, ut venenatis leo ullamcorper et. Pellentesque augue eros, dapibus non mauris sed, lacinia eleifend elit. Aliquam in nisi nulla. </p>

</div>
<div class="col-md-6">
<%= image_tag ("images/logo.png")%>
</div>
</div>
<p>
	Donec vitae urna id lacus posuere blandit at nec augue. Mauris risus turpis, maximus at tristique ut, fringilla vel dolor. Maecenas id sollicitudin velit. Curabitur sed eros pretium, auctor orci eget, finibus nunc.Nullam id consectetur lectus. Proin a felis ut metus posuere posuere. Nam sagittis massa blandit dolor mollis commodo. Ut ac suscipit nisl. Aliquam sagittis malesuada vehicula. Phasellus sagittis eget arcu vitae tincidunt. In imperdiet justo at lorem interdum, eget volutpat velit laoreet.
</p>
<p>
Mauris facilisis turpis elementum molestie malesuada. Fusce cursus posuere mauris eget mattis. Donec in erat sed est rhoncus aliquam a non odio. Integer massa ligula, lacinia eu condimentum quis, finibus non ex. Nulla ut efficitur lorem, a lacinia nisl. Nullam venenatis semper malesuada. Aenean pretium est ut varius luctus. </p>
</div>